.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  .innerModal {
    height:92.5vh ;
    width:99vw;
    border: 5px black solid;
    overflow: auto;
    border-radius: 1.5%;;
    
  }
  
  .dropwidth{
    width: 700px;
  }
  .expand{
    
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  .categScroll::-webkit-scrollbar {
    display: none;
  }
  .swatch{
    padding:35px;
    border:0px white solid;
    width: 0px;
    border-radius: 15%;
    
  }
  .button {
    margin: 5px;
  }
  .resizeButton{
    cursor: nw-resize;
    width:15px;
    height:15px;
    border-radius: 50%;
    border: 2px black solid;
    position: absolute;
    zoom: 0.5;
    
  }
  .shapesMenu{
    zoom: 0.5;
  }
  .imgDel{
    zoom: 0.35;
    
  } .imgDel:hover {
    zoom: 1;
  }
  .categScroll{
    height: 70vh;
    overflow-y: scroll;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  img {
    float: left;
    width:  8vw;
    height: auto;
    object-fit: cover;
  
  }
  .draggable {
    position: absolute;
    cursor: move;
   
  }
  .triangle {
    width: 0 ;
    height: 0;
    border-style: solid;
    
  }
  .circle {
    border-radius: 50%;
  }
  .colorPicker {
    border-radius: 40%;
  }

  
  